
        
            <div>
                <h1 class="h1 border border-primary border-rounded" [style.backgroundColor]="'burlywood'">Create New Diary Event</h1>
                <form autocomplete="off" (ngSubmit)='submitForm()'  #form='ngForm'>
                    <div class="form-group">
                       <label for="date">Fill in the Date :</label> <br>
                       <input type="date" class="form-control" name="date" id="date" #date='ngModel' name='date'[(ngModel)]='newDiary.date' required> 
                       <div [hidden]='date.valid || date.pristine' class="alert alert-danger">
                           <p>Date is required!</p>
                       </div>
                    </div>
                    <br>
                    <div class="form-group" >
                        <label for="title">Event Title</label><br>
                        <input type="text" class="form-control" name="title" id="title" placeholder="Title Name.." #title='ngModel' [(ngModel)]='newDiary.title' required>
                        <!-- {{newDiary.title}} -->
                        <div [hidden]='title.valid || title.pristine' class="alert alert-danger">
                            <p>Date is required!</p>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="description">Describe Event</label><br>
                        <textarea name="description" class="form-control"  id="desc" cols="30" rows="6" placeholder="Diary Description.." #description='ngModel' name=description [(ngModel)]='newDiary.description' required></textarea>
                        <div [hidden]='description.valid || description.pristine' class="alert alert-danger">
                            <p>Date is required!</p>
                        </div>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-success">ADD DIARY</button>
                </form>
            </div>

